body {
    font-family: 'Raleway', sans-serif;
    margin: 0 5vw 0 5vw;

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    margin: 30px;
    /* padding: 10px; */
    border-radius: 10px;
}

.showcase-items {
    display: flex;
    flex-direction: row;
}